.mtck-2-squares-to-3_1 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 11.5%;
  left: 1%;
}
.mtck-2-squares-to-3_2 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: -1%;
  left: 16.8%;
}
.mtck-2-squares-to-3_3 {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);

  top: -1%;
  left: 48.5%;
}
.mtck-2-squares-to-3_4 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: -1%;
  left: 80%;
}
.mtck-2-squares-to-3_5 {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);

  top: 11.5%;
  left: 95.6%;
}
.mtck-2-squares-to-3_6 {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);

  top: 36.9%;
  left: 95.6%;
}
.mtck-2-squares-to-3_7 {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);

  top: 62%;
  left: 95.6%;
}
.mtck-2-squares-to-3_8 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 74.5%;
  left: 80%;
}
.mtck-2-squares-to-3_9 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 74.5%;
  left: 48.5%;
}
.mtck-2-squares-to-3_10 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 74.5%;
  left: 16.8%;
}
.mtck-2-squares-to-3_11 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 62%;
  left: 1%;
}
.mtck-2-squares-to-3_12 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 36.9%;
  left: 1%;
}
.mtck-2-squares-to-3_13 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 49.4%;
  left: 48.7%;
}
.mtck-2-squares-to-3_14 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 36.8%;
  left: 64.3%;
}
.mtck-2-squares-to-3_15 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 24.5%;
  left: 48.7%;
}
.mtck-2-squares-to-3_16 {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);

  top: 36.8%;
  left: 33%;
}
